/* Base Layout */

.wrapper {
  width: 80%;
  align-content: center;
  margin: auto;
}

header {
  height: 75px;
}

header input {
  margin: auto;
  margin-top: 25px;
  width: 200px;
  position: relative;
  left: 7.5%;
}

img {
  padding: 15px;
  margin: auto;
  width: 200px;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  header input {
    width: 300px;
    left: 15%;
  }
}

@media screen and (min-width: 1180px) {
  header input {
    width: 400px;
    left: 27.5%;
  }
}